body {
    background-color: powderblue;
  }
  h1 { font-size: 35px;
    font-weight:bold;
    color: blue;
  }
  p {
    color: red; font-size: 40px;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(169, 41, 41);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
  #button {
    line-height: 12px;
    width: 18px;
    font-size: 8pt;
    font-family: tahoma;
    margin-top: 1px;
    margin-right: 2px;
    position:absolute;
    top:0;
    right:0;
}
.homeimg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}