<html>

<body>

    <div style="text-align: center;">


        <h1>ABOUT PRESTIGE JETS</h1>

    </div>


    <div style="text-align: center;">
        <p>
            Founded in 2004, VistaJet revolutionized business aviation by pioneering a new way to fly:
            access to a global fleet without any of the responsibilities of owning an aircraft.
        </p>


        <div>
            <img class="homeimg" src="/assets/Prestigejet.webp" alt="Wokers Images" style="width:25%;" />
        </div>

        <div style="text-align: center;">

            <h4>ICONIC PRIVATE JETS</h4>
    
        </div>
        <p>
            VistaJet's distinctive silver and red aircraft, welcome passengers all over the world. Renowned for its consistency, 
            you know exactly what will be waiting for you on the tarmac, no matter where you are flying from.
        </p>

    </div>
    <footer class="footer">
        <p>Author: Samuel Kawuma<br>
        <a href="christokawuma69@gmail.com">christokawuma69@gmail.com</a></p>
      </footer>

</body>

</html>